In [ ]:
import pandas as pd
import yfinance as yf

# ------------------------------------------------------------------
# 1) Get today’s S&P 500 constituents straight from Wikipedia
# ------------------------------------------------------------------
wiki_url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
table = pd.read_html(wiki_url, header=0)[0] 
tickers = (table["Symbol"]
           .str.replace(".", "-", regex=False)
           .tolist())

# ------------------------------------------------------------------
# 2) Pull month-end prices in one bulk request
# ------------------------------------------------------------------
start, end = "2015-01-01", "2025-05-31"
data = yf.download(
    tickers,
    start=start,
    end=end,
    interval="1mo",         # monthly bars
    group_by="ticker",      # ⇢ multi-index columns
    threads=True,
    progress=False,
    auto_adjust=True        # already split/dividend-adjusted
)

data

Ticker            META                                                 \
Price             Open        High         Low       Close     Volume
Date
2015-01-01   78.151265   78.817607   73.138762   75.495834  546210700
2015-02-01   75.694735   80.926038   73.049245   78.539131  475148700
2015-03-01   78.568968   85.600393   76.838464   81.771400  575349900
2015-04-01   82.049878   85.123015   77.892683   78.340225  542124600
2015-05-01   78.807657   81.403417   76.371028   78.757935  421870700
...                ...         ...         ...         ...        ...
2025-01-01  588.742808  709.612203  586.845993  688.038025  317942200
2025-02-01  674.789959  739.682251  640.796393  667.092773  298418700
2025-03-01  672.563718  680.121182  552.383181  575.404968  363413500
2025-04-01  570.401115  592.204284  479.431076  548.577881  451371800
2025-05-01  591.624815  662.160510  570.061389  646.992188  292479500

Ticker             IR                                               ...  \
Price            Open       High        Low      Close      Volume  ...
Date                                                                ...
2015-01-01        NaN        NaN        NaN        NaN         NaN  ...
2015-02-01        NaN        NaN        NaN        NaN         NaN  ...
2015-03-01        NaN        NaN        NaN        NaN         NaN  ...
2015-04-01        NaN        NaN        NaN        NaN         NaN  ...
2015-05-01        NaN        NaN        NaN        NaN         NaN  ...
...               ...        ...        ...        ...         ...  ...
2025-01-01  91.255655  95.803440  85.958226  93.754440  47855900.0  ...
2025-02-01  91.355602  94.054288  81.667310  84.738815  51347700.0  ...
2025-03-01  85.418482  85.928236  77.142505  79.991119  55203300.0  ...
2025-04-01  79.690851  82.050285  65.594240  75.411880  82708200.0  ...
2025-05-01  76.031731  85.349491  75.181929  81.620384  75216500.0  ...

Ticker            SBAC                                                \
Price             Open        High         Low       Close    Volume
Date
2015-01-01  103.897773  113.511891  100.369488  108.928848  19264400
2015-02-01  108.854166  116.676131  107.668732  116.405441  17824200
2015-03-01  116.676133  118.216260  109.292864  109.302200  20920600
2015-04-01  110.076931  116.657468  107.780745  108.107437  17968500
2015-05-01  108.452800  110.973002  104.149784  104.364464  17882100
...                ...         ...         ...         ...       ...
2025-01-01  203.032061  206.388535  190.645783  195.606232  16430300
2025-02-01  195.012170  223.151109  193.279477  215.745071  14635000
2025-03-01  214.715371  225.705604  209.913329  217.834213  19261200
2025-04-01  218.807636  243.021182  200.455897  242.234955  27489200
2025-05-01  240.105190  243.986531  219.763040  230.780045  16977700

Ticker             WAB
Price             Open        High         Low       Close    Volume
Date
2015-01-01   82.557547   82.906411   76.570335   78.682358   8895400
2015-02-01   78.984055   91.609065   78.031763   89.468750   9907000
2015-03-01   89.162169   91.473778   85.520201   89.643364  11222500
2015-04-01   89.643376   99.163440   88.209229   88.737602  10338500
2015-05-01   90.483107   96.899006   90.247228   94.634575  11042200
...                ...         ...         ...         ...       ...
2025-01-01  191.070759  210.341424  186.422657  207.388977  17821600
2025-02-01  203.199706  208.855224  179.590161  184.886597  28025800
2025-03-01  186.865331  189.971431  172.363539  181.122543  24424200
2025-04-01  180.033909  191.499521  151.619594  184.508301  22368300
2025-05-01  184.767955  207.439480  183.749231  202.066238  17813900

[125 rows x 2515 columns]

In [36]:
# keep only the raw Close column
df = data.xs("Close", level=1, axis=1)      # <- level=1 is the price field

df.head()

Ticker,META,IR,DVN,RJF,CCL,OXY,NEE,CAH,JNJ,FFIV,...,MA,MAA,PFG,NKE,HRL,JBHT,CMS,HSY,SBAC,WAB
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,75.495834,NaN,41.590183,30.151224,37.508076,58.087547,20.810244,62.035080,74.743454,111.620003,...,76.898308,55.005611,31.991587,40.637493,20.163353,72.124924,27.535234,79.838417,108.928848,78.682358
2015-02-01,78.539131,NaN,42.501076,32.735439,37.533676,56.548214,19.709150,65.614456,76.512367,118.120003,...,84.654587,50.738533,34.881947,42.782799,23.147530,77.461174,25.637764,81.064758,116.405441,89.468750
2015-03-01,81.771400,NaN,41.617802,32.534874,41.055717,53.004879,19.966478,67.314667,75.612373,114.940002,...,81.141800,54.099167,35.018291,44.325035,22.490807,77.571205,25.673979,79.218140,109.302200,89.643364
2015-04-01,78.340225,NaN,47.268353,32.494392,37.734528,58.705620,19.367762,63.133018,74.560120,122.019997,...,84.729736,52.236824,35.098167,43.666767,21.501768,79.206215,24.953253,72.160667,108.107437,88.737602
2015-05-01,78.757935,NaN,45.196339,33.408363,39.759853,57.305759,19.638340,65.999977,75.266640,125.690002,...,86.814224,54.032890,35.489513,44.917038,22.735832,76.317726,25.107691,72.898598,104.364464,94.634575

In [38]:
na_counts = df.isna().sum()

na_counts = na_counts[na_counts > 0]

num_tickers_with_missing = len(na_counts)  

num_tickers_with_missing

34

In [40]:
df = df.dropna(axis=1)

df.head()

Ticker,META,DVN,RJF,CCL,OXY,NEE,CAH,JNJ,FFIV,MOH,...,MA,MAA,PFG,NKE,HRL,JBHT,CMS,HSY,SBAC,WAB
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,75.495834,41.590183,30.151224,37.508076,58.087547,20.810244,62.035080,74.743454,111.620003,50.910000,...,76.898308,55.005611,31.991587,40.637493,20.163353,72.124924,27.535234,79.838417,108.928848,78.682358
2015-02-01,78.539131,42.501076,32.735439,37.533676,56.548214,19.709150,65.614456,76.512367,118.120003,63.689999,...,84.654587,50.738533,34.881947,42.782799,23.147530,77.461174,25.637764,81.064758,116.405441,89.468750
2015-03-01,81.771400,41.617802,32.534874,41.055717,53.004879,19.966478,67.314667,75.612373,114.940002,67.290001,...,81.141800,54.099167,35.018291,44.325035,22.490807,77.571205,25.673979,79.218140,109.302200,89.643364
2015-04-01,78.340225,47.268353,32.494392,37.734528,58.705620,19.367762,63.133018,74.560120,122.019997,59.230000,...,84.729736,52.236824,35.098167,43.666767,21.501768,79.206215,24.953253,72.160667,108.107437,88.737602
2015-05-01,78.757935,45.196339,33.408363,39.759853,57.305759,19.638340,65.999977,75.266640,125.690002,72.739998,...,86.814224,54.032890,35.489513,44.917038,22.735832,76.317726,25.107691,72.898598,104.364464,94.634575